* {
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 300;
}

body{
}

.App{
display: grid;
grid-template-columns: 330px auto;
grid-template-rows: auto auto auto 60px;
grid-template-areas:
'menu header'
'menu c'
'menu c'
'footer footer';
grid-column-gap: 20px;
   min-height: 97vh;
}
.header{
  grid-area:header;
}

.menu{
  grid-area:menu;
}



.footer{
  grid-area:footer;
}

.displayBox{
  padding:50px;
  /* background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_321372.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white; */
}

.displayBox ul li{
  list-style:none;
}

/* .displayBox ul li:nth-child(-n+2){
  text-decoration: line-through;
} */

.home-content{
grid-area:c;
display: flex;
}



.post-content{
grid-area:c;
display: flex;
justify-content:space-around;
align-items:center;
}

.footer {
  display: flex;
  grid-area: footer;

  justify-content:flex-end;
  align-items:center;
  background: rgb(48, 48, 48)!important;
color: white;
}

.footer h4{
  margin-right:50px;

}


@media (max-width: 600px) {
  .App  {
    grid-template-areas:
    '. . header header . .'
    'left left left left left left'
    'middle middle middle middle middle middle'
    'right right right right right right'
    'footer footer footer footer footer footer';
}
}
